@media screen and (max-width: 1200px) {
  .projectSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .projectImg {
      max-width: 90%;
      min-height: 500px;
    }
    .projectContext {
      .projectInfo {
        font-size: 1rem;
      }
      .technologiesList {
        max-width: 100%;
        .technology {

        }
      }
      .projectLinks {
        .projectLink {

        }
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  .projectSection {
    display: grid;
    grid-template-columns: 30% 50%;
    align-content: center;
    justify-items: center;
    justify-content: center;
    .projectImg {
      max-width: 300px;
      min-height: 500px;
    }
    .projectContext {
      .projectInfo {
        font-size: 1.5rem;
      }
      .technologiesList {
        max-width: 70%;
        .technology {

        }
      }
      .projectLinks {
        .projectLink {

        }
      }
    }
  }
}

.projectSection {
  font-family: Montserrat;
  padding: 50px;
  .projectImg {

    object-fit: cover;
    border-radius: 30px;
  }
  .projectContext {
    display: flex;
    flex-direction: column;
    align-items: center;
    .projectInfo {
      max-width: 80%;
      margin: 2em;
    }
    .technologiesList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0.5em;
      .technology {
        display: flex;
        justify-content: center;
        margin: 0.3em;
        list-style: none;
        padding: 0.5em;
        background-color: #282c34;
        border-radius: 0.5em;
      }
    }
    .projectLinks {
      display: flex;
      justify-content: center;
      .projectLink {
        text-decoration: none;
        padding: 10px;
        margin: 5px;
        border: #282c34 solid 2px;
      }
    }
  }
}











