.aboutMeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .aboutMeSection {
        background-color: #393e48;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 2px solid #282C34;
        padding: 50px 0 50px 0;

        .textWrapper {
            margin: 20px;
            p {
                margin: 10px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .aboutMeSection {
        width: 90vw;
    }
}

@media screen and (min-width: 501px) and (max-width: 1200px) {
    .aboutMeWrapper {
        .aboutMeSection {
            width: 80vw;
            .textWrapper {
                width: 60vw;
            }
        }
    }
}

@media screen and (min-width: 1201px) {
    .aboutMeWrapper {
        .aboutMeSection {
            width: 80vw;
            .textWrapper {
                width: 40vw;
            }
        }
    }
}

