.nav {
    height: 10vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    background-color: #282c34;
}

.item {
    color: #FFF;
    text-decoration: none;
}