.footer {
    .github {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        min-height: 100px;
        h2 {
            margin: 20px;
        }
        .githubIcon {
            max-width: 50px;
        }
    }
}

