@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #393E48;
}

li, h1, h2, p, a {
  color: #FFF;
  font-family: Montserrat;
  text-decoration: none;
}

section {
  background-color: #393e48;
}